@font-face{ /* كود تعريف عن خط خارجي */
    font-family: "JF flat Regular"; /* اسم الخط */
    src: url(../fonts/JF-Flat-regular.eot); /* تعريف الخط من نوع eot لنتصفحات الأكسبلور القديم */
    /* تعريف الخط بأكثر من صيغة للتعرف عليها حميع المتصفحات
    eot  للإكسبور الجديد ولاننسى الرموز بعد اسم الخط والفورمات الخاصة به
    
    svg إيضا لاننسى الموز بعد الاسم والفورمات الخاصة به وهنا الرمز عادتا يكون اسم الخط بداخل ستجده بداخل الملف
    وإن لم يكون موجود ضع اسم الخط الذي عرفناه بالاعلى

    woff لا يكتب بعدها رموز فقط لا ننسى الفورمات الخاصة به

    tff إيضا لايكتب بعدعا رموز فقط لا تنسى الفورمات الخاصة به
    */
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'), url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url(../fonts/JF-Flat-regular.woff) format('woff'), url(../fonts/JF-Flat-regular.ttf) format('truetype');
    font-weight: 400; /* تغيير حجم الخط */
    font-style: normal /* جعل الخط نوعة الافتراضي */
}

/* يطبق هذا الكود في جميع عناصر التي بداخل عنصر
body */
body{
    /* أختيار نوع الخط الخاص بنا ويجب مراعات بعد اختيار الخط المطلوب وضع فاصلة
    وأختيار خطوط بديله تكون موجوده في جميع الأجهزة في حالة عدم تمكن المتصفح من تحميل الخط الخاص بنا */
    font-family: "JF Flat Regular",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px; /* تغيير مقاس الخط إلى 14 بيكسل */
    color: #555555; /* تغيير لون الخط */
    line-height: 1.42857143; /* ضبط المسافة المستخدم للأسطر بمعدل 1.42857143 */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
custom-navbar 
وأبنائها*/
.custom-navbar{
    border-bottom: 3px solid #eef0ea; /* عمل إطار في الاسفل بخصائص التالية */
    width: 100%; /* جعل العرض 100 بالمئة */
    background-color: #fff; /* لون الخلفية أبيض */
    padding-top: 15px; /* عمل حشوة داخليه من الاعلى بمقدار 15 بيسكل */
    padding-bottom: 15px; /* عمل حشوة داخلية من الاسفل بمقدار 15 بيكسل */

}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
container
وأبنائها
ويكون إيضا عنصر الأب بداخل عنصر آخر يحمل كلاس
custom-navbar */
.custom-navbar .container{
padding: 0; /* حذف الحشوة من جميع الاتجاهات */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
navbar-brand
وأبنائها
ويكون إيضا عنصر الأب بداخل عنصر يحمل كلاس
container
وهو بداخل عنصر يحمل كلاس
custom-navbar */
.custom-navbar .container .navbar-brand{
    margin-left: 30px; /* عمل هامش من اليسار مقدار 30 بيكسل */
    margin-top: 4px; /* عمل خامش من الاعلى بمقدار 40 بيكسل */
}

/* ينطبق هذا الكود على جميع عناصر
button
 الذي بداخل عنصر يحتوي على كلاس
custom-form-control */
.form-inline button{
    height: calc(2rem + 2px); /* تغيير إرتفاع العنصر */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل إيدي
navbarDropdown */
#navbarDropdown{
    height: calc(2rem + 2px); /* تغيير إرتفاع العنصر */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
custom-form-control */
.custom-form-control{
height: calc(2rem + 2px); /* تغيير إرتفاع العنصر */
}
/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
custom-form-control 
وأبنائها
------
إيضا في جميع العناصر التي تحمل كلاس
custom-btn 
وأبنائها*/
.custom-form-control, .custom-btn{
    color: #868686; /* تغيير لون النص */
    border: 1px solid #ebebeb; /* عمل إيطار */
    box-shadow: none; /* إزالة الظلال */
    border-radius: 2px; /* إنحدار زواية الإيطار بمعدل 2 بيكسل */
    font-size: 14px; /* تغيير مقاس الخط */
    padding: 5.5px 13px; /* عمل حشوة داخلية من الاعلى والاسفل معدل 5.5 بيكسل ومن الإيسر والإيمن بمعدل 13 بيكسل */
    transition: all .3s ease; /* حركة تغيير الخصائص بشكل تدريجي لمدة .3 من الثواني */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
custom-btn
أثناء حدث حركة الماوس فوق العنصر */
.custom-btn:hover{
    background-color: #d4d4d4; /* تغيير لون الخلفية  */
    border: 1px solid #8c8c8c; /* عمل إطار بالخصائص التالية */

}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
custom-form-control
اثناء حدث تركيز على العنصر
وبشرط يجب ان يكون هذا العنصر بداخل عنصر آخر تحمل كلاس
custom-navbar */
.custom-navbar .custom-form-control:focus{
    border-color: #c2101e; /* تغيير لون الإيطار */
    box-shadow: 0 0 2px 0 #c2101e; /* عمل ظل بالخصائص التالية */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
nav-link
وأبنائها
ويكون إيضا عنصر الأب بداخل عنصر يحمل كلاس
categoties */
.categories .nav-link{
    padding: 8px 13px 8px; /* عمل حشوة داخلية من الأعلى بمعدل 8 بيسكل واليمين واليسار 13 بيكسل والأسفل 8 بيكسل */
    border-right: 0; /* إزالة الخط الإيطار الإيمن */
    border-radius: 0; /* إزالة إنحدار الزاولة في الإيطار وجعلة زاولة قائمة */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
custom-dropdown-menu 
وأبنائها*/
.custom-dropdown-menu{
    box-shadow: 0 2px 5px 0 #ebebeb; /* عمل ظلال بالخصائص التالية */
    border-radius: 2px; /* إنحدار زاوية الإيطار بمعدل 2 بيكسل */
    color: #777; /* تغيير لون الخط */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
checkbox
وأبنائها
ويكون إيضا عنصر الأب بداخل عنصر يحتوي على كلاس
custom-dropdown-menu */
.custom-dropdown-menu .checkbox{
    margin: 0 5px; /* إزالة الهوامش التي بالأعلى والاسفل وعمل هامش من اليمين واليسار بمعدل 5 بيكسل */
    display: inline-block; /* جعل العنصر يأخذ حجم حقيقي ويضع إعتبار لوجود حشوات او هوامش */
}

/* يتم تطبيق هذا الكود في جميع عناصر
input
وأبنائها
ويكون إيضا عنصر الأب بداخل عنصر
label
التي بداخل عنصر يحمل كلاس اسمه
checkbox
الذي بداخل عنصر يحمل كلاس
custom-dropdown-menu */
.custom-dropdown-menu .checkbox label input{ 
    margin-left: 5px; /* عمل هامش على اليسار بمعدل 5 بيكسل */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
custom-btn-primary
وأبنائها
ويكون إيضا عنصر الأب داخل عنصر يحمل كلاس
custom-navbar */
.custom-navbar .custom-btn-primary{
    background-color: #ff3956; /* تغيير لون الخلفية */
    border-color: #ff3956; /* تغير لون الإيطار */
    color: #fff; /* تغيير لون النص */
    padding: 6px 20p 6px 20px; /* إضافة حشوة داخلية بالأعلى 6 بيكسل واليمين 2  بيسكل والاسفل 6 بيكسل والإيسر 20 بيكسل*/
    border-radius: 0; /* إزالة إنحدار الإيطار */
    font-size: 14px; /* تغيير مقاسم الخط إلى 14 بيكسل */
    font-weight: 700; /* تغير حجم الخط إلى 700  */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
custom-btn-primary
الذي يكون داخل عنصر يحمل كلاس 
custom-navbar
في جميع حالات الأحداث التالية
1)  عند مرور فوق العنصر
2)  عند التركيز في حالة فتح الموقع عبر الجوال
3) عند التركيز
4)  عن التركيز في حالة فتح الموقع عبر الجوال و التركيز العادي
5) عند التركيز في حالة فتح الموقع عبر الجوال و مرور الفوق العنصر */
.custom-navbar .custom-btn-primary:hover,
.custom-navbar .custom-btn-primary:active,
.custom-navbar .custom-btn-primary:focus,
.custom-navbar .custom-btn-primary:active:focus,
.custom-navbar .custom-btn-primary:active:hover {
    background-color: #c2101e; /* تغيير لون الخلفية */
    border-color: #c2101e; /* تغيير لون الإيطار */
}

/* يطبق هذا الكود في جميع عناصر
li
فقط دون إن يرث الأبناء
ويكون إيضا بداخل عنصر يحمل كلاس
navbar-nav
ويكون هذا العنصر بداخل عنصر آخر بحمل كلاس
custom-navbar */
.custom-navbar .navbar-nav>li{
    margin: 0; /* إزالة الهوامش من جميع الاتجاهات */
}

/* يطبق هذا الكود في جميع العناصر ال
a
الذي يحتوي على كلاس
nav-link
وأبنائها
ويجب ان يكون هذا العنصر بداخل عنصر
li
الذي بدورة يكون داخل عنصر يحتوي على كلاس
navbar-nav
ويكون هذا العنصر بداخل عنصر آخر يحتوي على كلاس
custom-navbar */
.custom-navbar .navbar-nav li a.nav-link{
    color: #555555; /* تغيير لون الخط */
    font-size: 14px; /* تغيير مقاس الخط */
    padding: 15px; /* عمل حشوة داخلية بجميع الإتجاهات بمعدل 15 بيكسل */
}

/* يطبق هذا الكود عند التحريك فوق العناصر ال
a
الذي يحتوي على كلاس
nav-link
ويجب ان يكون هذا العنصر بداخل عنصر
li
الذي بدورة يكون داخل عنصر يحتوي على كلاس
navbar-nav
ويكون هذا العنصر بداخل عنصر آخر يحتوي على كلاس
custom-navbar */
.custom-navbar .navbar-nav li a.nav-link:hover{
    color: #000; /* تغيير لون الخط */
}

/* يطبق هذا الكود في جميع العناصر ال
a
الذي يحتوي على كلاس
nav-link
ويجب ان يكون هذا العنصر بداخل عنصر
li
ويكون يحمل كلاس 
active
الذي بدورة يكون داخل عنصر يحتوي على كلاس
navbar-nav
ويكون هذا العنصر بداخل عنصر آخر يحتوي على كلاس
custom-navbar */
.custom-navbar .navbar-nav li.active>a.nav-link{
    color: #ff3956; /* تغيير لون الخط */
    font-weight: 700; /* تغيير حجم الخط بمعدل 700 */
    border-bottom: 1px solid #ff3956; /* عمل إيطار في الأسفل فقط بالخصائص التالية */
}

/* يطبق هذا الكود في جميع العناصر ال
a
الذي يحتوي على كلاس
nav-link
ويجب ان يكون هذا العنصر بداخل عنصر
li
ويتحرك المؤشر عليه ويحمل كلاس 
active
الذي بدورة يكون داخل عنصر يحتوي على كلاس
navbar-nav
ويكون هذا العنصر بداخل عنصر آخر يحتوي على كلاس
custom-navbar */
.custom-navbar .navbar-nav li.active:hover>a.nav-link{
    background-color: #e7e7e7; /* تغيير لون الخلفية */
}

/* ينطبق هذا الكود في جميع عناصرال
a
وتتحرك المؤشر فوقة
ويجب ان يكون بداخل عنصر
li
الذي بدورة يكون داخل عنصر يحتوي على كلاس
custom-dropdown-menu */
.custom-dropdown-menu li a:hover{
    background-color: #ffe7ea; /* تغيير لون الخلفية */
}

/* يطبق هذا الكود في جميع عناصر
a
الذي يحمل كلاس 
btn-icon
يكون داخل عنصر يحتوي على كلاس
custom-nabar */
.custom-navbar a.btn-icon{
    padding: 5px 10px 4px; /* عمل حشوة داخلية في الأعلى بمعدل 5 بيكسل واليمين واليسار بمعدل 10 بيكسل والأسفل بمعدل 4 بيكسل */
    color: #777; /* تغيير لون الخط */
    border: 1px solid #ddd; /* عمل إيطار بالخصائص التالية */
    background-color: transparent; /* تغيير لون الخلفية إلى شفافة */
    border-radius: 2px; /* عمل إنحدار بإيطار بمعدل 2 بيكسل */
    margin-left: 10px; /* عمل هامش من اليسار بمعدل 10 بيكسل */
    margin-right: 15px; /* عمل هامش من اليمين بمعدل 15 بيكسل */
    font-size: 12px; /* تغيير مقاس الخط */
}

/* يطبق هذا الكود في جميع عناصر
a
الذي يحتوي على كلاس
btn-icon
وحدث مرور المؤشر فوقة
وهو بداخل عنصر يحتوي على كلاس
custom-navbar */
.custom-navbar a.btn-icon:hover{
    color: #000000; /* تغيير لون الخط */
    background-color: #bfbfbf; /* تغيير لون الخلفية */
}

/* يطبق هذا الكود في عنصر
li
الذي يحتوي على حدث آخر عنصر
ويكون داخل عنصر يحتوي على كلاس
navbar-nav
الذي بداخل عنصر يحتوي على كلاس
custom-navbar */
.custom-navbar .navbar-nav li:last-of-type{
    margin-top: 7px; /* عمل هامش في الأعلى بمعدل 7 بيكسل */
}

/* يطبق هذا الكود في العنصر الذي يحتوي على إيدي
carousel-featured */
#carousel-featured{
    background-color: #f7f8f3; /* تغيير لون الخط */
    height: 400px; /* تغيير طول العنصر بمعدل 400 بيكسل */
    padding-top: 25px; /* عمل حشوة داخلية من الأعلى بمعدل 25 بيكسل */
}

/* يطبق هذا الكود في جميع عناصر
img
الذي بداخل عنصر يحتوي على كلاس
carousel-item
الذي يكون بداخل عنصر يحتوي على إيدي
carousel-featured */
#carousel-featured .carousel-item img{
    height: 375px; /* تغيير طول العنصر بمعدل 375 بيكسل */
}

/*  يطبق هذا الكود في جميع العناصر الذي يحتوي على كلاس
product-details
الذي يكون بداخل عنصر يحتوي على إيدي
carousel-featured */
#carousel-featured .product-details{
    border: 1px solid #dddddb; /* عمل إيطار بالخصائص التالية */
    padding: 20px; /* عمل حشوة داخلية بجميع الإتجاهات بمعدل 20 بيكسل */
    position: relative; /*لنتمكن من تحريك العنصر*/
    top: 50px; /*تحريك العنصر*/
    height: 200px; /* تغيير طول العنصر بعدل 200 بيكسل */
    background-color: #f7f8f3; /* تغيير لون الخلفية */
}

/* يطبق هذا الكود في جميع العناصر الذي يحتوي على كلاس
product-category
الذي تكون بداخل عنصر يحتوي على كلاس
product-details
الذي يكون بداخل عنصر يحتوي على إيدي
carousel-featured */
#carousel-featured .product-details .product-category{
    border: 1px solid #dddddb; /* عمل إيطار بالخصائص التالية */
    padding: 10px; /* عمل حشوة داخلية بجميع الإتجاهات بمعدل 10 بيكسل */
    position: absolute; /* السماح بتغيير موقع العنصر */
    top: -10px; /* تغير موقع العنصر بإتداءا من الأعلى بمعدل -10 بيكسل */
    right: -10px; /* تغير موقع العنصر بإتداءا من اليمين بمعدل -10 بيكسل */
    background-color: #f7f8f3; /* تغيير لون الخلفية */
}

/* يطبق هذا الكود في جميع عناصر
h1
الذي تكون بداخل عنصر يحتوي على كلاس
product-details
الذي يكون بداخل عنصر يحتوي على إيدي
carousel-featured */
#carousel-featured .product-details h1{
    font-weight: 700; /* تغيير حجم الخط إلى 700 */
    font-size: 175%; /* تغيير مقاس الخط إلى 175 بالميئة */
    margin-top: 18px; /* جعل للعنصر هامش في الأعلى بمعدل 18 بيكسل */
}

/* ينطبق هذا الكود على العناصر التي تحمل كلاس
custom-btn-primary
وهو بداخل عنصر يحتوي على كلاس
product-details
وهو بداخل عنصر يحتوي على إيدي
 carousel-featured */
#carousel-featured .product-details .custom-btn-primary{
    color: #f8ad47; /* جعل لون الخط برتقالي */
    border-color: #f8ad47; /* جعل لون الإطار برتقالي */
    background-color: transparent; /* جعل لون الخلفية شفاف */
    padding: 9px 25px; /* جعل للعنصر حشوة داخليه من أعلى والاسفل 9 بيكسل ومن اليمين واليسار 25 بيكسل */
    margin-top: 15px; /* جعل للعنصر هامش في الأعلى مبعدل 15 بيكسل */
    font-size: 18px; /* تغيير مقاس الخط */
    border-radius: 2px; /* عمل إنحدار في الإيطار بمعدل 2 بيكسل */
}

/* ينطبق هذا الكود على العناصر التي تحمل كلاس
sale */
.sale{
    background-color: #53ccd7; /* تغيير لون الخلفية */
    color: white; /* تغيير لون الخط */
    font-weight: bold; /* تغيير حجم الخط */
    position: absolute; /* لنتمكن من تغيير مكان العنصر */
}

/* ينطبق هذا الكود على جميع العناصر التي تحمل كلاسين
sale
large */
.sale.large{
    height: 60px; /* تغيير الطول إلى 60 بيكسل */
    width: 60px; /* تغيير العرض إلى 60 بيكسل */
    border-radius: 50%; /* إنحدار الإيطار بمعدل 50 بالمئة */
    justify-content: center; /* توسيط العنصر من اليمين واليسار */
    align-items: center; /* توسيط العنصر من فوق وتحت */
    padding: 35px; /* عمل حشوة داخلية بجميع الاتجاهات بمعدل 35 بيكسل */
    left: -15px; /* جعل العنصر يبدأ من اليسار ويبعد بمعدل -15 بيسكل */
    top: -15px; /* جعل العنصر يبدأ من أعلى ويبعد بمعدل -15 بيكسل */
    line-height: 90%; /* ضبط المسافة المستخدم للأسطر بمعدل 90 بالمئة */
    transform: rotate(-25deg); /* كود لعمل إستدارة بمعدل -25 */
    font-size: 130%; /* تغيير مقاس الخط بنسبة 130 بالمئة */
    display: flex; /* يقوم بعمل حاوية للعناصر التي بداخل هذا العنصر */
    flex-direction: column; /* طريقة عرض الحاوية على شكل أعمدة فوق بعض */
}

/* ينطبق هذا الكود في جميع عناصر
span
الذي تكون بداخل عنصر يحتوي على كلاسين
sale
large
الذي يكون بداخل عنصر يحتوي على كلاس
product-details
الذي يكون بداخل عنصر يحتوي على إيدي
carousel-featured
 */
#carousel-featured .product-details .sale.large span{
    font-size: 14px; /* تغيير مقاس الخط إلى 14 بيكسل */
}

/*  ينطبق هذا الكود في العنصر الذي يحتوي على كلاس
custom-carousel-indicators-primary */
.custom-carousel-indicators-primary{
    top: 235px; /* جعل العنصر يبدأ من أعلى ويبعد بمعدل 235 بيكسل */
    right: 35%; /* جعل العنصر يبدأ من اليمين ويبعد بمعدل 35 بالمئة */
}

/* ينطبق هذا الكود على جميع عناصر
img
وتكون بداخل عنصر يحتوي على كلاس
custom-carousel-indicators-primary */
.custom-carousel-indicators-primary img{
    height: 75px; /* جعل الطول 75 بيكسل */
    width: 75px; /* جعل العرض 75 بيكسل */
    border: 2px solid #dddddb; /* عمل إطار */
    background-color: #fff; /* تغيير لون الخلفية */
    margin-right: 2px; /* عمل هامش خارجي من اليمين بمعدل 2 بيكسل */
}

/* ينطبق هذا الكود على جميع عناصر
img
الذي تحتوي على كلاس
active
وتكون بداخل عنصر يحتوي على كلاس
custom-carousel-indicators-primary */
.custom-carousel-indicators-primary img.active{
    border-color: #f8ad47; /* تغيير لون الإيطار */
}

/* ينطبق هذا الكود فقط على عناصر
i
الذي يكون بداخل عنصر يحتوي على كلاسين
1) custom-carousel-control
2)carousel-control-prev 
--------------------------
أو ينطبق هذا الكود فقط على عناصر
i
الذي يكون بداخل عنصر يحتوي على كلاسين
1) custom-carousel-control
2)carousel-control-next
*/
#carousel-featured .carousel-control-prev,
#carousel-featured .carousel-control-next{
    background: 0 0; /* لحذف الخلفية */
    color: #868686; /* تغيير لون الخط */
    text-shadow: none; /* إلغاء الظلال من النص */
    font-size: 20px; /* تغيير مقاس الخط إلى 20 بيكسل */
}

/* ينطبق هذا الكود فقط على عناصر
i
الذي يكون بداخل عنصر يحتوي على كلاسين
1) custom-carousel-control
2)carousel-control-prev */
.custom-carousel-control.carousel-control-prev>i {
    position: absolute; /* لنتمكن من تغيير مكان العنصر */
    right: 25%; /* تحريك لليمين بنسبة 25 بالمئة */
}

/* ينطبق هذا الكود فقط على عناصر
i
الذي يكون بداخل عنصر يحتوي على كلاسين
1) custom-carousel-control
2)carousel-control-next */
.custom-carousel-control.carousel-control-next>i {
    position: absolute; /* لنتمكن من تغيير مكان العنصر */
    left: 25%; /* تحريك لليسار بنسبة 25 بالمئة */
}

/* ينطبق هذا الكود فقط على العناصر الذي تحمل كلاس
col-12
وتكون داخل عنصر يحتوي على كلاس
carousel-row */
.carousel-row>.col-12{
    padding: 0; /* إلغاء الحشوة في جميع الاتجاهات */
}



/******************************* قسم مميزات المتجر ***********************************/

/* يطبق هذا الكود في جميع عناصر الذي يحمل كلاس
store-features
وأبنائها */
#store-features{
    box-shadow: 0 0 15p #eef0ea; /* إضافة الظلال حول */
    position: relative; /* لنتمكن من تغيير مكان العنصر */
    top: -30px; /* تغيير مكان العنصر للأعلى */
    background-image: url(../images/bg_features.png); /* إضافة صورة في الخلفية */
    background-repeat: no-repeat; /* no-repeat لعدم تكرار الصورة */
    background-color: #fff; /* نجعل لون الخلفية أبيض ليظهر هذا اللون في اماكن عدم تواجد الصورة */
    padding-bottom: 35px; /* إضافة حشوة داخلية بالاسفل بمعدل 35 بيكسل */
    padding-top: 5px; /* إضافة حشوة داخلية بالأعلى بمعدل 5 بيكسل */
}

/* يطبق فقط في عناصر الوسم
img
ويكون إيضا داخل عنصر آخر يحمل كلاس
features
وهو بداخل عنصر يحمل إيدي
store-features */
#store-features .feature>img{
    height: 40px; /* تغيير طول العنصر بمعدل 40 بيكسل */
    margin-bottom: 10px; /* عمل هامش في الاسفل بمعدل 10 بيكسل */
}

/* يطبق هذا الكود في جميع العناصر التي تكود بجوار عنصرين يحملان كلاس
feature
وهم بداخل عنصر آخر يحمل إيدي
store-features */
#store-features .feature+.feature{
    border-right: 1px solid #eef0ea; /* إضافة إيطار بالخصاص التالي */
}

/******************************* قسم الأكثر مبيعًا ***********************************/

/*يطبق هذا الكود في جميع العناصر التي تحتوي على كلاس 
custom-thumbnail */
.custom-thumbnail{
    border: 2px solid #EEF0EA; /* عمل إيطار بخط متواصل بدرجة لون محدد */
    padding: 8px; /* عمل حشوة بمعدل 8 بيكسل بجميع الاتجاهات */
    cursor: pointer; /* تغببر شكل الماوس إلى يد */
    margin-bottom: 20px;
}

/* يطبق هذا الكود في حدث المرور الماوس فوق إي عنصر يحمل كلاس
custom-thumbnail */
.custom-thumbnail:hover{
    border-color: #53CCD7; /* تغيير لون الإيطار إلى أزرق */
}

/* يطبق هذا الكود في جميع العناصر
img
الذي بداخل العنصر الذي يحتوي على كلاس
custom-thumbnail */
.custom-thumbnail img{
    height: 250px; /* تغيير الأرتفاع إلى 250 بيكسل */
    width: 100%; /* تغيير العرض بنسبة 100% منحجم المنطقة الذي هو عليها */
    max-width: 250px; /* وضع شرط أن لايجاوز العرض أكثر من 250 بيسكل */
    margin: 0 auto; /* حذف الهوامش من جميع الإتجاهات */
    display: block; /* جعلة ياخذ بلوك كامل خاصة به ولا يشارك إي عنصر من الذي معه في نفس السطر */
}

/* يطبق هذا الكود على جميع العناصر
h4
الذي بداخل عنصر يحتوي على كلاس 
custom-thumbnail */
.custom-thumbnail h4{
    font-size: 18px; /* تغيير حجم الخط إلى 18 بيكسل */
    padding-top: 10px; /* عمل حشوة من الأعلى بقيمة 10 بيسكل */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
card-body
ويكود هذا العنصر داخل عنصر آخر يحتوي على كلاس
custom-thumbnail */
.custom-thumbnail .card-body{
    padding: 9px; /* عمل حشوة بجميع الإتجاهات بقيمة 9 بيسكل */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
price
ويكود هذا العنصر داخل عنصر آخر يحتوي على كلاس
custom-thumbnail */
.custom-thumbnail .price{
    padding-top: 10px; /* عمل حشوة من الأعلى بقيمة 10 بيسكل */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
sale
ويكود هذا العنصر داخل عنصر آخر يحتوي على كلاس
custom-thumbnail */
.custom-thumbnail .sale{
    padding: 5px 10px; /* عمل حشوة من أعلى واسفل بقيمة 10 بيسكل ومن اليمين ويسار بقيمة 5 بيكسل */
    position: absolute; /* إعطاء إمكانية تحريك الحر للعنصر */
    left: 16px; /* جعل مكان العنصر بقيمة 16 بيكسل من جهة اليسار */
    top: 14px; /* جعل مكان العنصر بقيمة 14 بيكسل من جهة الأعلى */
    direction: ltr; /* تغيير إتجاه النص وليس العنصر من اليسار إلى اليمين */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
price */
.price{
    color: #53CCD7; /* تغيير لون */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
rating */
.rating{
    color: #C2C2C2; /* تغيير لون */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
active
الذي يكون داخل عنصر يحتوي على كلاس
rating */
.rating .active{
    color: #f3af41; /* تغيير لون */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
overlay */
.overlay{
    position: absolute; /* كود إعطاء إمكانية تحريك الحر للعنصر */
    /* تغيير لون الخلفية بطريقة نظام 
    rgba
    الذي يسمح لك بإختيار درجات الون ودرجة الشفافية*/
    background-color: rgba(83,204,215,.5);
    height: 250px; /* جعل إرتفاع العنصر 250 بيكسل */
    width: calc(100% - 16px); /* جعل عرض العنصر بنسبة 100% منحجم الحاوية التي تحتوي مع مراعات إنقاصه بدرجة 16 بيكسل */
    display: flex; /* عرض العناصر المحتوى على شكل صف */
    justify-content: center; /* جعل العنصر يتوسط من اليمين واليسار */
    align-items: center; /* جعل العنصر يتوسط من الأعلى والأسفل */
    opacity: 0; /* جعل العنصر مخفي */
    transition: all .3s ease; /* جعل إظهار وإخفاء العنصر بشكل تدريجي */
}

/* يطبق هذا الكود عن الحركة الماوس فوق العنصر الذي يحتوي على كلاس
overlay */
.overlay:hover{
    opacity: 1; /* جعل العنصر يظهر */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
add-to-cart-btn */
.add-to-cart-btn{
    background-color: #ffffff; /* تغيير لون الخلفية */
    color: #19becd; /* تغييراللون */
    font-weight: bold; /* حعل الخط عريض */
}

/* هذا الكود سيضيف عنصر وهمي في عنصر الذي يحتوي على كلاس
sale
الذي يكون بداخل عنصر أخر يحتوي على كلاس
custom-thumbnail */
.custom-thumbnail .sale::before{
    content: "-"; /* إضافة نص */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
custom-carousel-indicators */
.custom-carousel-indicators{
    position: static; /* جعل العنصر ثابت لا يتحرك من موقعه نهائي */
    width: 100%; /* جعل العرض حجمة بنسبة 100% من الحاوية التي بداخلها */
    text-align: center; /* جعل النص في المنتصف */
    margin: 0; /* حذف الهوامش من جميع الإتحاهات */
}

/* يطبق هذا الكود في جميع العناصر 
li
و
li
الذي يحتوي على كلاس
active
ولاكن بشرط يجب ان يكونو بشكل مباشر بداخل العنصر الذي يحتوي على كلاس
custom-carousel-indicators */
.custom-carousel-indicators>li,
.custom-carousel-indicators>li.active{
    height: 13px; /* جعل الأرتفاع بقيمة 13 بيسكل */
    width: 13px; /* جعل العرض بقيمة 13 بيسكل */
    margin: 2px; /* وضع هوامش بجنيع الإتجاهات بقيمة 2 بيكسل */
    display: inline-block; /* جعل العنصر لايأخذ بلوك كامل ويسمح للعنصر الذي بعده يكون بجواره */
    background-color: #dbdbdb; /* تغيير لون الخلفية */
}

/* يطبق هذا الكود في جميع العناصر
li
الذي يحتوي على كلاس
active
ولاكن بشرط يجب ان يكون بشكل مباشر بداخل العنصر الذي يحتوي على كلاس
custom-carousel-indicators */
.custom-carousel-indicators>li.active{
    background-color: #696969; /* تغيير لون الخلفية */
}

/******************************* قسم الماركات ***********************************/

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
custom-panel */
.custom-panel{
    border: 4px solid #EEF0Ea; /* عمل حدود */
    border-radius: 2px; /* جعل لزواية الحدود تأخذ على شكل إنحدار بدرجة 2 بيكسل */
    box-shadow: none; /* حذف الظلال */
    padding: 20px; /* وضع حشوة بجميع الإتجاهات بمقدار 20 بيكسل */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
custom-panel
ويكون بداخل عنصر بحتوي على كلاس
product-image */
.custom-panel .product-image{
    width: 100%; /* جعل العرض بنسبة 100% من حجم الحاوية الذي تحتويها */
    margin-bottom: 8px; /* عمل هامش في الاسفل بقيمة 8 بيكسل */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
custom-btn-primary */
.custom-btn-primary{
    color: #f8ad47; /* تغيير اللون */
    border-color: #f8ad47; /* تغيير لون الحدود */
    background-color: transparent; /* تغيير لون الخلفية إلى شفاف */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
custom-btn-primary
في جميع حالات الأحداث التالية
1)  عند مرور فوق العنصر
2)  عند التركيز في حالة فتح الموقع عبر الجوال
3) عند التركيز
4)  عن التركيز في حالة فتح الموقع عبر الجوال و التركيز العادي
5) عند التركيز في حالة فتح الموقع عبر الجوال و مرور الفوق العنصر */
.custom-btn-primary:hover, .custom-btn-primary:focus,
.custom-btn-primary:active, .custom-btn-primary:active:hover,
.custom-btn-primary:active:focus{
    color: #b86d07; /* تغيير اللون */
    border-color: #b86d07; /* تغيير لون الحدود */
    background-color: transparent; /* تغيير لون الخلفية إلى شفاف */
}

/* يطبق هذا الكود في جميع العناصر
h4
الذي بداخل عنصر يحتوي على كلاس
custom-panel
-----
وإيضا يطبق على العناصر التي تحتوي على كلاس
price
الذي بداخل عنصر يحتوي على كلاس
custom-panel */
.custom-panel h4,
.custom-panel .price{
    font-size: 130%; /* تغيير حجم النص لنسبة 130% من حجمة الحقيقي */
    margin-top: 0; /* حذف الهامش الذي بالأعلى */
    margin-bottom: 15px; /* جعل هامش الذي بالاسفل  بقيمة 15 بيكسل */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
custom-text-muted */
.custom-text-muted{
    color: #A9A9A9; /* تغيير اللون */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
custom-arrow-btn */
.custom-arrow-btn{
    background-color: #fff; /* تغيير لون الخلفية */
    color: #868686; /* تغيير اللون */
    border: 1px solid #EBEBEB; /* وضع حدود */
    box-shadow: none; /* حذف الظلال */
    border-radius: 2px; /* جعل لزواية الحدود تأخذ على شكل إنحدار بدرجة 2 بيكسل */
    padding: 5px 10px; /* عمل حشوة داخلية من اليمين واليسار بقيمة 5 بيكسل ومن الأعلى والأسفل بقيمة 10 بيكسل */
    font-size: 12px; /* تغيير حجم الخط إلى 12 بيكسل */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
brand-products */
.brand-products{
    margin-bottom: 20px; /* عمل هامش بالاسفل بقيمة 20 بيكسل */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
brand-text{ */
.brand-text{
    display: inline-block; /* جعل العنصر يأخذ بلوك يسمح بالعناصر الذي بعده تكون بنفس الصف */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
brand-products
ويكون بداخل عنصر آخر يحتوي على كلاس
brand-nav */
.brand-products .brand-nav{
    margin-top: 14px; /* عمل هامش من الاعلى بقيمة 14 بيكسل */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
row-brands
ويكون بداخل عنصر
h3
الذي يحتوي على عنصر
custom-heading */
.row-brands h3.custom-heading{
    border-top: 1px solid #EEE0EA; /* عمل حدود */
    padding-top: 25px; /* عمل حشوة بالاعلى بقيمة 25 بيكسل */
    margin-top: 25px; /* عمل هامش بالأعلى بقيمة 25 بيسكل */
    margin-bottom: 25px; /* عمل هامش بالاسفل بقيمة 25 بيكسل */
}

/******************************* قسم تذليل الصفحة ***********************************/

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على إيدي
brand-logos */
#brand-logos{
    background-color: #dbeefa; /* تغيير لون الخلفية */
    padding: 25px 0; /* عمل حشوى من اليمين واليسار بقيمة 25 بيكسل وحذف الحشوة من الاعلى والاسفل */
    width: 100%; /* تغيير حجم إلى نسبة 100% من حشم الحاوية التي تحتويها */
    color: #555555; /* تغيير اللون */
}

/* يطبق هذا الكود على جميع عناصر
img
الذي بداخل عنصر يحتوي على إيدي
brand-logos */
#brand-logos img{
    margin-left: 25px; /* عمل هامش من اليسار بقيمة 25 بيكسل */
    margin-right: 25px; /* عمل هامش من اليمين بقيمة 25 بيكسل */
    max-height: 100px; /* حد طول العنصر لا يزيد عن 100 بيكسل */
    max-width: 100px; /* حد عرض العنصر لا يزيد عن 100 بيسكل */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على إيدي
footer-nav */
#footer-nav{
    width: 100%; /* جعل العرض يأخذ نسبة 100% من الحاوية التي يحتويها */
    background-color: #1f1e1e; /* تغيير لون الخلفية */
    padding: 50px 0 40px; /* عمل حشوة داخلية من الأعلى 50 بيكسل ومن الاسفل 40 بيكسل وإزالة الحشوة من اليمين واليسار */
    background-image: url(../images/bg_footer_1.png),url(../images/bg_footer_2.png); /* عمل خلفية صورتين */
    background-repeat: no-repeat,no-repeat; /* جعل الصورتي الخاصة بالخلفيه لا تتكرر */
    background-position: 110% 0, -10% -150%; /* إعطاء إحداثيات المواقع صورتي الخلفية أعتماد من الاعلى واليسار */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على إيدي
footer-nav-links */
#footer-nav-links{
    margin: 30px 0; /* عمل هامش من اليمين واليسار بقيمة 30 بيكسل وإزالة الهوامش الاعلى والاسفل */
}

/* يطبق هذا الكود على جميع عناصر
a
الذي بداخل عنصر يحتوي على إيدي
footer-nav-links */
#footer-nav-links a{
    color: #555555; /* تغيير اللون */
    margin-left: 30px; /* عمل هامش من اليسار 30 بيكسل */
    font-weight: bold; /* جعل نوع الخط عريض */
}

/* يطبق هذا الكود عند حركة الماوس فوق جميع عناصر
a
الذي بداخل عنصر يحتوي على إيدي
footer-nav-links */
#footer-nav-links a:hover{
    text-decoration: none; /* إزالة الخط الاسفل من الرابط التشعبي */
    color: #A9A9A9; /* تغيير اللون */
}

/* يطبق هذا الكود على جميع العناصر الذي يحتوي على إيدي
newsletter
الذي بداخل عنصر يحتوي على إيدي
footer-nav */
#footer-nav #newsletter{
    border-top: 1px solid #292929; /* عمل إيطار من الأعلى فقط */
}

/* يطبق هذا الكود على جميع عناصر
form
الذي بداخل عنصر يحتوي على إيدي
footer-nav */
#footer-nav form{
    max-width: 260px; /* حد أعلى عرض للعنصر هو 260 بيكسل */
    margin: 0 auto; /* إزالة الهوامش وتوسيطها */
}

/* يطبق هذا الكود على جميع عناصر
label
الذي بداخل عنصر
form
الذي بداخل عنصر يحتوي على إيدي
footer-nav */
#footer-nav form label{
    margin: 27px 0 16px; /* عمل هامش من الاعلى 27 بيكسل ومن الاسفل 16 بيكسل وإزالة الهوامش من على اليمين واليسار */
    font-size: 12px; /* تغيير حجم الخط مبقاس 12 بيكسل */
    font-weight: bold; /* جعل نوع الخط عريض */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
custom-btn-primary2 */
.custom-btn-primary2{
    color: white; /* تغيير اللون */
    background-color: #f8ad47; /* تغيير لون الخلفية */
    border-color: #f8ad47; /* تغيير لون الإيطار */
}

/* يطبق هذا الكود في جميع العناصر التي تحمل كلاس
custom-btn-primary2
في جميع حالات الأحداث التالية
1)  عند مرور فوق العنصر
2)  عند التركيز في حالة فتح الموقع عبر الجوال
3) عند التركيز
4)  عن التركيز في حالة فتح الموقع عبر الجوال و التركيز العادي
5) عند التركيز في حالة فتح الموقع عبر الجوال و مرور الفوق العنصر */
.custom-btn-primary2:hover, .custom-btn-primary2:focus,
.custom-btn-primary2:active, .custom-btn-primary2:active:hover,
.custom-btn-primary2:active:focus{
    border-color: #b86d07; /* تغيير لون الإيطار */
    background-color: #b86d07; /* تغيير لون الخلفية */
}

/* يطبق هذا الكود على جميع عناصر
input
الذي بداخل عنصر
form
الذي بداخل عنصر يحتوي على إيدي
newsletter */
#newsletter form input{
    background-color: #313131; /* تغيير لون الخلفية */
    opacity: .6; /* تغيير شفافية العنصر إلى 60% ليعطي شفاشية */
    border: none; /* حذف الإيطار */
}

/* يطبق هذا الكود على جميع عناصر
button
الذي بداخل عنصر
form
الذي بداخل عنصر يحتوي على إيدي
newsletter */
#newsletter form button{
    border-radius: 0px; /* حذف الإنحدار من الإيطار */
    border-top-left-radius: 3px; /* عمل إنحدار على الإيطار من زاوية اليسرا العليا */
    border-bottom-left-radius: 3px; /* عمل إنحدار على الإيطار من زاوية اليسرا السفلى */
    font-size: 14px; /* تغيير حجم الخط إلى 14 بيكسل */
    padding: 6px 12px 5px; /* عمل حشوه من الاعلى بقيمة 6 بيكسل ومن الاسفل 5 بيكسل ومن اليمين واليسار 12 بيكسل */
    color: inherit; /* حذف اللون المخصص لأخذ لون الحاوي الذي عليه */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
footer-copyright-social */
#footer-copyright-social{
    background-color: #151515; /* تغيير لون الخلفية */
    color: #303030; /* تغيير اللون */
    padding-top: 30px; /* عمل حشوة من الاعلى */
    padding-bottom: 30px; /* عمل حشوة من الاسفل */
    font-weight: 700; /* تغيير تحجيم الخط غلى 700 */
    width: 100%; /* تغيير عرض العنصر إلى 100% من حجم الحاوي الذي يحتويه */
}

/* يطبق هذا الكود على جميع عناصر
a
الذي بداخل عنصر يحتوي على إيدي
footer-copyright-social */
#footer-copyright-social a{
    color: #303030; /* تغيير لون */
    margin-left: 5px; /* جعل هامش من اليسار بقيمة 5 بيكسل */
    margin-right: 5px; /* جعل هامش من اليمين بقيمة 5 بيكسل */
}

/* يطبق هذا الكود عند حركة الماوس فوق جميع عناصر
a
الذي بداخل عنصر يحتوي على إيدي
footer-copyright-social */
#footer-copyright-social a:hover{
    text-decoration: none; /* إزالة الخط الاسفل من الرابط التشعبي */
    color: #A9A9A9; /* تغيير اللون */
}

/********************************** Product Page **********************************/

.custom-breadcrumb{
    background-color: transparent;
    padding: 25px 0;
}

.custom-breadcrumb a{
    color: #555555;
    text-decoration: none;
}

.custom-breadcrumb a:hover{
    color: #f8ad47;
}

.custom-breadcrumb>li+li::before{
    content: '>';
    color: #555555;
    padding: 0 5px;
}
.custom-breadcrumb .active{
    color: #bfbfbf;
}

/* صورة المنتج */
#carousel-product-images .carousel-indicators{
    position: relative;
    top: -35px;
    right: auto;

}

#carousel-product-images .carousel-item img{
    border: 1px solid #ebebeb;
    width:100%;
}

/* تفاصيل المنتج */
.block-100{
    width:100%;
    display: block;
}

.product-category{
    color: #a9a9a9;
}

#form-product-selection h2{
    font-size: 30px;
    font-weight: 700;
    margin: 18px 0 18px;
}

.price.large{
    font-size: 30px;
    margin: 20px;
}
 /* تعني رمز أكبر ومن ثم نجمه زائد نجمه إي إضافة هذا التنسيق بين كل حاويتين داخل الكلاس borders-between */
.borders-between>*+*{
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-description{
    margin: 0px 0 10px;
}

.product-option{
    display: inline-block; /* لجعل جميع العناصر في سطر واحد */
    height: 23px;
    width: 23px;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 23px;
    color: #c2c2c2;
    margin: 3px 3px 9px 3px;
}

.product-option input{
    display: none; /* لإخفاء أزارير الاختيار وجعل النص فقط الظاهر */
}

.product-option label{
    font-weight: 700;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.product-option.active{
    color: #f8ad47;
    border-color: #f8ad47;
}

.color-option.active{
    border-color: #ffffff;
    outline: #000000 solid 1px;
}

.product-quantity select{
    width: 56px;
    height: 34px !important;
    padding: 6px 12px;
    margin-right: 3px;
}

.product-quantity .label{
    padding-top: 10px;
}
.product-quantity{
    padding-bottom: 20px;
}

.btn-primary.custom-btn-with-icon{
    min-width: 250px;
    padding: 13px 16px 14px;
    font-size: 18px;
}

/* وصف المنتج */
.heading-with-border-bottom{
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 15px;
}

.heading-inline{
    display: inline-block;
    min-width: 250px;
}

.more-description p,
.more-description ul{
    margin-bottom: 10px;
}

/* تعليقات المنتج */

.comments .media{
    margin: 15px;
}

.comments .media:first-child{
    margin-top: 0px;
}

.comments .media img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border: 1px solid #dfdfdf;
}

.comments .media .media-heading{
    font-size: 18px;
    margin-bottom: 5px;
}

/* اقترحنا لك */

.suggestions .custom-thumbnail{
    margin-right: -8px;
    margin-left: -8px;
}

/********************************** End Product Page **********************************/



/************************************ Checkout Page ************************************/

h1.custom-heading{
    font-size: 36px;
    margin: 25px 0;
}

.custom-table .custom-media .media-object{
    width: 80px;
    height: 80px;
    border: 1px solid #EBEBEB;
    margin-left: 10px;
}

.custom-table th,
.custom-table td{
    padding: 15px;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    font-size: 120%;
}

.custom-table th:first-child,
.custom-table td:first-child{
    width: 50%;
}

.custom-table th{
    color: #C2C2C2;
    font-weight: normal;
}

.custom-table th:not(:first-child),
.custom-table td:not(:first-child){
    text-align: center;
}

.custom-table .custom-media h4{
    font-size: 18px;
    margin: 12px 0;
}

.custom-table .quantity{
    width: 56px;
    height: 34px !important;
    padding: 0px 8px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.custom-btn-danger{
    color: #ff5a5f;
    border-color: #ff5a5f;
    background-color: transparent;
    border-radius: 3px;
}

.custom-btn-danger:active, .custom-btn-danger:active:focus,
.custom-btn-danger:active:hover, .custom-btn-danger:focus,
.custom-btn-danger:hover{
    background-color: transparent;
    color: #c2101e;
    border-color: #c2101e;
}

.custom-table .custom-media{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.custom-table th:first-child{
    padding-right: 20px; 
}

.custom-table tfoot td{
    border-bottom: none;
    font-size: 150%
}

#form-checkout button[type=submit]{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

/* جميع العناصر بداخل total-price */
.custom-table .total-price *{
    color: #000;
}

.custom-table .total-price .custom-text-muted .custom-text-muted{
    color: #A9A9A9;
}

/********************************** End Checkout Page **********************************/


/********* ترتيب العناصر لأختلاف حجم الشاشة *********/

@media (max-width:1199px) {
    .custom-navbar .navbar-nav li a.nav-link{
        padding: 8px;
    }
}

@media (max-width:991px) {
    .custom-navbar{
        padding: 0.5rem 0px 30px;
    }
    .custom-navbar .container{
        max-width: 100%;
    }
    .navbar-header{
        display: block;
        width: 100%;
        margin: 11px 15px 23px 5px;
    }
    .navbar-header .custom-btn{
        float: left;
    }

    .form-inline{
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }
    .form-inline .dropdown{
        display: none;
    }
    .form-inline .custom-form-control{
        width: 86%;
        margin-right: 2%;
    }
    .form-inline .custom-btn-primary{
        width: 10%;
    }

    .custom-navbar a.btn-icon, .custom-navbar button.btn-icon{
        padding: 10px;
        margin-right: 5px;
        margin-top: 4px;
        margin-left: 10px;
    }
    .navbar-header .btn-icon i {
        font-size: 19px;
    }
    .custom-navbar .navbar-nav li a.nav-link{
        padding: 10px 15px;
    }

    .navbar-collapse{
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }
    #carousel-featured .custom-carousel-indicators-primary{
        right: 31%;
    }

    .overlay{
        display: none;
    }

    .custom-thumbnail .add-to-cart-btn{
        color: #868686;
        font-weight: normal;
    }

    #copyright, #social-icons {
        width: 100%;
        text-align: center;
    }
    #social-icons{
        font-size: 150%;
        margin-top: 10px;
    }

    /* صفحة المنتج */

    .product-option{
        width: 50px;
        height: 50px;
        margin: 10px;
        line-height: 50px;
        font-size: 20px;
    }

    /* صفحة الشراء */
    #form-checkout,
    .table-title{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width: 991px) and (min-width: 768px){
    .custom-thumbnail img{
        height: 200px;
    }
}

@media (max-width:767px) {
    #carousel-featured, #carousel-featured .product-details{
        height: auto;
    }
    #carousel-featured .product-details{
        position: static;
        text-align: center;
    }
    #carousel-featured{
        padding-bottom: 25px;
    }

    #carousel-featured .carousel-item img{
        height: 250px;
    }

    #brand-logos img{
        max-width: 50px;
        max-height: 50px;
        margin: 5px 24px 5px 23px;
    }

    #footer-nav .footer-logo{
        margin-bottom: 30px;
    }

    #footer-nav form{
        max-width: 100%;
        width: 100%;
    }

    #newsletter form .input-group{
        width: 100%;
    }

    /* صفحة الشراء */
    .hide-on-small{
        display: none;
    }

}

@media (max-width:575px) {
    .form-inline .custom-form-control{
        width: 76%;
        margin-right: 2%;
    }
    .form-inline .custom-btn-primary{
        width: 20%;
    }

    #carousel-featured .carousel-item{
        padding: 0px 18px;
    }

    #footer #brand-logos .img-container img{
        margin: 5px 15px;
    }
    
    /* product page */
    #form-product-selection,
    .comments{
        padding-left: 15px;
        padding-right: 15px;
    }

    /* صفحة الشراء */
    #form-checkout{
        padding-left: 0px;
        padding-right: 0px;
    }
}

/********* نهاية ترتيب العناصر لأختلاف حجم الشاشة *********/