@mixin button-style($color) {

    color: $color; /* تغيير اللون */
    border-color: $color; /* تغيير لون الحدود */
    background-color: transparent; /* تغيير لون الخلفية إلى شفاف */

    /* يطبق هذا الكود في جميع العناصر في جميع حالات الأحداث التالية
    1)  عند مرور فوق العنصر
    2)  عند التركيز في حالة فتح الموقع عبر الجوال
    3) عند التركيز
    4)  عن التركيز في حالة فتح الموقع عبر الجوال و التركيز العادي
    5) عند التركيز في حالة فتح الموقع عبر الجوال و مرور الفوق العنصر */
    &:hover, &:focus,
    &:active, &:active:hover,
    &:active:focus{
        color: darken($color, 25%); /* تغيير اللون */
        border-color: darken($color, 25%); /* تغيير لون الحدود */
        background-color: transparent; /* تغيير لون الخلفية إلى شفاف */
    }

}