/* ينطبق هذا الكود على العناصر التي تحمل كلاس
sale */
.sale{
    background-color: #53ccd7; /* تغيير لون الخلفية */
    color: white; /* تغيير لون الخط */
    font-weight: bold; /* تغيير حجم الخط */
    position: absolute; /* لنتمكن من تغيير مكان العنصر */
}

/* ينطبق هذا الكود على جميع العناصر التي تحمل كلاسين
sale
large */
.sale.large{
    height: 60px; /* تغيير الطول إلى 60 بيكسل */
    width: 60px; /* تغيير العرض إلى 60 بيكسل */
    border-radius: 50%; /* إنحدار الإيطار بمعدل 50 بالمئة */
    justify-content: center; /* توسيط العنصر من اليمين واليسار */
    align-items: center; /* توسيط العنصر من فوق وتحت */
    padding: 35px; /* عمل حشوة داخلية بجميع الاتجاهات بمعدل 35 بيكسل */
    left: -15px; /* جعل العنصر يبدأ من اليسار ويبعد بمعدل -15 بيسكل */
    top: -15px; /* جعل العنصر يبدأ من أعلى ويبعد بمعدل -15 بيكسل */
    line-height: 90%; /* ضبط المسافة المستخدم للأسطر بمعدل 90 بالمئة */
    transform: rotate(-25deg); /* كود لعمل إستدارة بمعدل -25 */
    font-size: 130%; /* تغيير مقاس الخط بنسبة 130 بالمئة */
    display: flex; /* يقوم بعمل حاوية للعناصر التي بداخل هذا العنصر */
    flex-direction: column; /* طريقة عرض الحاوية على شكل أعمدة فوق بعض */
}

/* يطبق هذا الكود على جميع العناصر الذي تحتوي على كلاس
sale
ويكود هذا العنصر داخل عنصر آخر يحتوي على كلاس
custom-thumbnail */
.custom-thumbnail {

    .sale{
        padding: 5px 10px; /* عمل حشوة من أعلى واسفل بقيمة 10 بيسكل ومن اليمين ويسار بقيمة 5 بيكسل */
        position: absolute; /* إعطاء إمكانية تحريك الحر للعنصر */
        left: 16px; /* جعل مكان العنصر بقيمة 16 بيكسل من جهة اليسار */
        top: 14px; /* جعل مكان العنصر بقيمة 14 بيكسل من جهة الأعلى */
        direction: ltr; /* تغيير إتجاه النص وليس العنصر من اليسار إلى اليمين */
    
        /* هذا الكود سيضيف عنصر وهمي في عنصر الذي يحتوي على كلاس
        sale
        الذي يكون بداخل عنصر أخر يحتوي على كلاس
        custom-thumbnail */
        &::before{
            content: "-"; /* إضافة نص */
        }
    }
}