$brand-color-primary: #F8AD47;
$brand-color-secondary: #19BECD;
$brand-color-danger: #FF5A5F;

$brand-color-primary-dark: darken($brand-color-primary, 25%);
$brand-color-danger-dark: darken($brand-color-danger, 25%);